
*{
    margin: 0;
    padding: 0;
    font-family: Abel;
}

body{
    height: 1800px;
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),url(./Images/nxtlvl.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.table{
    width: 1000px;
    margin-left: 250px;
    margin-top: 750px;
    background-color: aliceblue;
    position: absolute;
    box-shadow: 2px 2px 40px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 40px;
    display: flex;
    justify-content: center;

}table{
    width: 100%;
    text-align: center;
    font-size: 15pt;

}table td, th{
    padding: 1%;
    height: 39px;
}

@media screen and (max-width: 1200px){
    .nav ul{
        display: grid;
        grid-template-columns: auto;
        flex-direction: column;
        
    }.nav ul li{
        margin-bottom: 10px;
        margin-right:5%;
    }
}@media screen and (max-width:700px){
    .container2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }.container img,h2{
        width: auto;
    }
}


h1{
    font-size: 75px;
    letter-spacing: 2px;
    margin-left: 100px;
    margin-top: 75px;
    color: white;
    padding-bottom: 140px;
}

.navbar{
    position: absolute;
    margin-left: 250px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 6px;
    position: relative;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #39803f;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 65%;
}

a:link {
    text-decoration: none;
    color: hwb(0 100% 0%)0%, 100%);
    font-size: 25px;
    -webkit-text-stroke: 0.5px;
    
}

.navbar ul li a{
    font-size: 22px;
    -webkit-text-stroke: 0.5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.alonestand1{
    margin-top: -230px;
    margin-left: -150px;

}

.deal{
    font-size: 40px;
    color: indigo;
    position: absolute;
    margin-top: 435px;
    margin-left: 250px;
}