*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.555),rgba(0,0,0,0.75)),url(./Images/bkg1.jpg);
    background-size: cover;
    background-position: center;
}

.banner2{
    height: 4000px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.479),rgba(0,0,0,0.75)),url(./Images/bkg2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.navbar{
    width: 87%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 62%;
    transform: translateY(-50%);
    text-align: center;
    color: #000000;
}

.content h1{
    font-size: 70px;
    font-family: 'Bubblegum Sans';
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    color: #000000;
    transition: 0.5s;
    margin-top: 8px;
}

.content h1:hover{
    -webkit-text-stroke: 2px rgb(21, 219, 186);
    color: transparent;
}

.content p{
    margin: 30px auto;
    font-size: 20px;
    font-family: 'Bubblegum Sans';
    color: #fff;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}

.content2{
    width: 100%;
    position: absolute;
    top: 125%;
    transform: translateY(-50%);
    text-align: center;
}

.content2 h1{
    font-size: 60px;
    font-family: 'Chewy';
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    margin-top: 80px;
    color: rgba(255, 255, 255, 0.87);
}

.content2 p{
    margin: 30px auto;
    margin-top: 50px;
    font-family: 'Bubblegum Sans';
    font-size: 40px;
    font-weight: 100;
    line-height: 25px;
    color: rgba(16, 255, 243, 0.795);
}

.content3 p{

    text-align: center;
    font-family: 'Bubblegum Sans';
    font-size: 60px;
    color: #fff;
    padding-top: 500px;
}

.fishpic{
    max-width: 35%;
    margin-left: 70px;
    margin-top: 300px;
}

.fishtitle h1{
    font-size: 50px;
    color:rgb(255, 255, 255);
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: black;
    font-family: 'Chewy';
    margin-top: -920px;
    margin-left: 900px;
}

.fishtitle p{
    color: rgb(16, 255, 243, 0.795);
    font-family: 'Bubblegum Sans';
    text-align: justify;
    font-size: 35px;
    margin-left: 900px;
    max-width: 800px;
    align-content: center;
}

ol li{
    margin-top: 30px;
    font-size: 30px;
    margin-left: 950px;
    color: #fff;
    font-family: 'Bubblegum Sans';
}

.kleft p{
    color: rgb(16, 255, 243, 0.795);
    font-family: 'Bubblegum Sans';
    text-align: justify;
    font-size: 50px;
    margin-left: 1200px;
    margin-top: -360px;
    max-width: 900px;
    align-content: center;
}

.fishpic2{
    max-width: 40%;
    margin-left: 950px;
    margin-top: -1925px;
    position: absolute;
}

.fishtitle2 h1{
    font-size: 50px;
    color:rgb(255, 255, 255);
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: black;
    font-family: 'Chewy';
    margin-left: 70px;
    margin-top: -1925px;
    position: absolute;
}

.fishtitle2 p{
    color: rgb(16, 255, 243, 0.795);
    font-family: 'Bubblegum Sans';
    text-align: justify;
    font-size: 35px;
    margin-left: 70px;
    margin-top: -1875px;
    position: absolute ;
    max-width: 800px;
    align-content: center;
}

.fishpic3{
    width: 30%;
    margin-left: 170px;
    margin-top: -1250px;
    position: absolute;
}

.fishtitle3 h1{
    font-size: 50px;
    color:rgb(255, 255, 255);
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: black;
    font-family: 'Chewy';
    margin-left: 900px;
    margin-top: -1250px;
    position: absolute;
}

.heat{
    margin-left: 5px;
    list-style-type: disc;
    text-align: justify;
    margin-top: -1155px;
    position: absolute;
    font-family: 'Bubblegum Sans';
}


footer{
    margin-top: -70px;
    position: absolute;
    bottom: 1;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}



::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    
    ::-webkit-scrollbar-track {
    border: 1px solid #1bc1c7;
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    background: #1bc1c7;  
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: #1bc1c7;  
    }
    </style>
    </head>
    <body>